.container{
    margin: 0 auto;
    @include x-large{
        width: 1440px;
    }
    @include big-screen{
        width: 1100px;
    }
    @include medium-screen{
        width: 770px;
    }
    @include small-screen{
        width: 570px;
    }
    @include x-small{
        width: 100%;
    }
}